@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: #90ee90; /* Light green */
  --color-secondary: #ffffff; /* White */

  --box-background: #18191a4d; /* Dark gray */
  --box-text: #cccccc; /* Light gray */

  --font-sans: var(--font-manrope), sans-serif;
  --font-mono: var(--font-geist-mono);

  --breakpoint-xs: 30rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #333333;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
